name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push images
        run: |
          docker build -t ghcr.io/${{ github.repository }}/backend-java:latest ./backend-java
          docker build -t ghcr.io/${{ github.repository }}/gateway-node:latest ./gateway-node
          docker build -t ghcr.io/${{ github.repository }}/frontend-react:latest ./frontend-react
          docker push ghcr.io/${{ github.repository }}/backend-java:latest
          docker push ghcr.io/${{ github.repository }}/gateway-node:latest
          docker push ghcr.io/${{ github.repository }}/frontend-react:latest

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/${{ secrets.SERVER_USER }}/taskboard-project
            docker compose pull
            docker compose up -d
